@model IEnumerable<RALProject.Web.ViewModels.POModel>

<table class="table table-hover table-sm" style="width: 100%;" id="dataTable">
    <thead class="thead-light">
        <tr>
            <th style="display:none;">ID</th>
            <th>Vendor Number</th>
            <th>Master PO Number</th>
            <th>PO Number</th>
            <th>Order Date</th>
            <th>Buyer</th>
            <th>Dept</th>
            <th>SubDept</th>
            <th width="10%" align="center" style="text-align:center;">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td style="display: none;">@item.id</td>
                    <td>@item.vendorNumber</td>
                    <td>@item.masterPONumber</td>
                    <td>@item.pONumber</td>
                    <td>@item.orderDate</td>
                    <td>@item.buyer</td>
                    <td>@item.dept</td>
                    <td>@item.subDept</td>
                    <td style="text-align:center;">
                        <a href="javacript:;" id="id-select-po" class="cls-select-po" data-name="edit" data-toggle="tooltip" title="Select Details"><i class="fa fa-eye text text-muted"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No projects found. </td>
            </tr>
        }
    </tbody>
</table>

@Scripts.Render("~/Scripts/RALProject/RALModal.js")