@model RALProject.Web.ViewModels.LoginModel
@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Login.css")
    <title>Authentication</title>
</head>
<body>
    <div class="container-fluid cont-div">
        <div class="row align-items-center h-100">
            <div class="col-xl-12 col-lg-12 col-md-10 col-sm-10 col-12 mx-auto p-0">
                <div class="card card-flex-rev login-panel">
                    <div class="card-flex-left align-items-center"></div>
                    <div class="card-flex-right">
                        <img class="app-logo" src="~/Content/img/rrg.png">

                        <h5 class="lb-login">Login</h5>

                        <div class="form-group login-form">
                            <select id="serverName" class="form-control">
                                <option value="" selected disabled hidden>Choose here ...</option>
                                @foreach (var item in Model.business_unit_List)
                                {
                                    var severname = @item.code.ToString() + " - " + @item.jda_ip_address.ToString();
                                    <option value="@item.id">
                                        @severname
                                    </option>
                                }
                            </select>
                        </div>

                        <div class="form-group login-form">
                            <i class="fas fa-user-alt"></i>
                            <input type="text" class="form-control login-text-form" id="uname" placeholder="Username">
                        </div>

                        <div class="form-group login-form">
                            <i class="fas fa-key"></i>
                            <input type="password" class="form-control login-text-form" id="pass" placeholder="Password">
                        </div>

                        <button type="submit" id="idLoginButton" class="btn btn-primary" onclick="Authenticate()">Sign In</button>
                        <span class="spanMessage"></span>

                        <div class="alertPlaceHolder"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divLogin" data-request-url="@Url.Action("Login", "Login")"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/RALProject/Login.js")
</body>
</html>
