<nav class="navbar navbar-expand navbar-light bg-darkgray topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-danger d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <h6>
        <b style="color:white;">Receiving Authorization List</b>
    </h6>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="@Url.Action("Logout", "Login")" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    @if (@Session["AppServerName"] != null)
                    {
                        @Session["AppServerName"].ToString()
                    }
                    else
                    {
                        Response.Redirect("~/Login");
                    }
                </span>
                @*<span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewBag.strBU</span>*@
                <img class="img-profile rounded-circle" src="~/Content/img/rrhi_logo.png">
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" id="idlogout" href="@Url.Action("Logout", "Login")" data-toggle="tooltip" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>

@Scripts.Render("~/Scripts/RALProject/Login.js")